      <div class="d-flex flex-wrap">
        <% posts.each do |post| %>
          <div class="col-md-4">
            <div class="card mb-3">
              <div class="card-header text-center">
                <h4><%= post.genre.name %></h4>
              </div>
              <img class="card-img-top">
                <%= image_tag post.get_post_image, size:'150x100' %>
              </img>
              <div class="card-body">
                <h4 class="card-title"><%= post.title %></h4>
                <!--<p>お名前：<%#= post.child.name %></p>-->
                <p>年齢：</p>
                <p>投稿者：<%= post.user.name %></p>
                <p><%= post.created_at.strftime("%Y/%m/%d %H:%M:%S") %></p>
                <!--<p>公開範囲：<%#= Post.public_statuses_i18n[Post.public_statuses.key(post.public_status)] %></p>-->
                <%= link_to "詳細", post_path(post), class: "btn btn-outline-main" %>
              </div>
              <div class="card-footer">
                <P><%= post.post_comments.count %>コメント</P>
              </div>
            </div>
          </div>
        <% end %>
      </div>