<h2>お子様の編集</h2>

<div id="error">
  <%= render 'layouts/errors', obj: @child %>
</div>

<%= form_with model: @child, url: child_path(@child), method: :patch, local: true do |f| %>
  <table>
    <tr>
      <th><%= f.label :name, "お名前" %></th>
      <td><%= f.text_field :name, placeholder: "お子さんのお名前", class: "form-control" %></td>
    </tr>
    <tr>
      <th><%= f.label :birthday, "お誕生日" %></th>
      <td><%= f.date_field :birthday, class: "form-control" %></td>
    </tr>
    <tr>
      <th><%= f.label :gender, "性別" %></th>
      <td><%= f.select :gender, Child.genders.keys.map{|k| [I18n.t("enums.child.gender.#{k}"), k]}, {}, class: "form-control" %></td>
    </tr>
  </table>
  <%= f.submit "編集を保存する" %>
<% end %>